<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDFKit Library</title>
</head>
<body>
    <h1>Integrasi Flask dengan PDFKit</h1>
<table border="1">
    <tr>
        <th width="100">ID Buku</th>
        <th width="350">Judul Buku</th>
        <th width="150">Penulis</th>
        <th width="350">Penerbit</th>
    </tr>
    <tr>
        <td>B-001</td>
        <td>Pemograman Mobile Cross Platform</td>
        <td>Blessy Jeniffer</td>
        <td>Vanda Press</td>
    </tr>
    <tr>
        <td>B-002</td>
        <td>Pemograman Web Menggunakan Framework</td>
        <td>Brino Ferdinand</td>
        <td>Wurries Press</td>
    </tr>
    <tr>
        <td>B-003</td>
        <td>Pemograman Java Fundamental</td>
        <td>Brownie Christine</td>
        <td>Vanda Press</td>
    </tr>
</table>
<p><a href="http://localhost:5000/konversi">Konversi ke PDF</a></p>
</body>
</html>